.container-carousel {
height: 80px;
    border: 1px solid black;
}

.swiper-wrapper {
    width: 100%;
    display: flex;
}
.swiper-container {
    min-width: 525px;
}

.landing-care-slider-img {
    max-width: 100%;
}

