.container-carousel {
    max-width: 1200px;
    padding: 0 30px;
    border: 1px solid red;
    position: relative;
    margin: 0 auto;
}

.swiper-container {
    /*border: 1px solid green;*/
}

.swiper-wrapper {
    width: 90%;
    display: flex;
}

.landing-care-slider-img {
    max-width: 100%;
}

